.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 5px;
}

.navBar > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: rgb(231, 191, 12);
    font-weight: bold;
    height: 30px;
    margin-right: 10px;
}