.mainContent {
    display: flex;
    width: 100%;
    height: 400px;
}

.mainContent > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    /* background-color: lightblue; */
    margin: 10px 5px 10px 3px;
    /* padding: 50px; */
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    background-image: url("./taco.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.description > div {
    background-color: rgb(231, 191, 12);
    height: auto;
    width: auto;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px 2px;
}

.price {
    display: flex;
    flex-direction: column;
}

.price > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    background-color: rgb(231, 191, 12);
}

.caption > div {   
    font-weight: lighter;
    font-size: 50px;
}