.food_details {
    display: flex;
    justify-content: flex-start;
    width: 99.4%;
    height: 250px;
    background-color: white;
    margin: 5px;
}

.food_details > div {
    padding: 20px;
}

.taco_details {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    width: 500px;
}

.taco_details > div {
    margin-top: 25px;
    font-weight: bold;
}

button {
    margin: 10px;
    width: 150px;
    height: 30px;
    background-color: rgb(231, 191, 12);
    border: none;
    font-weight: bold
}